# Ignore everything
*

# Keep .gitignore itself
!.gitignore

# Keep only selected Indicators
!Indicators/Macharm_Squeezeline.mq5
!Indicators/LargeTrader_Proxy.mq5
!Indicators/COT_Proxy_Index.mq5
!Indicators/Commercial_Proxy.mq5
!Indicators/ATR_SS.mq5
!Indicators/ADX_SS.mq5
!Indicators/Macharm_Waterline.mq5
!Indicators/Macharm_Waterline_v2.mq5
!Indicators/MarketStructure.mq5
!Indicators/momentum_burst.mq5
!Indicators/ProGo.mq5
!Indicators/weekly_volatility_breakouts.mq5
!Indicators/Will_Blast_Off.mq5

